<!DOCTYPE html>
<html th:replace="˜{adminlt3 :: layout (˜{::title}, ˜{::main}, _, _)}">
<head>
    <title>Formulario de servico</title>
</head>
    <body>
        <main>
           <div class="row">
               <div class="col">
                   <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">Formulario de servicos</div>
                        </div>
                   </div>
               </div>
           </div>
        </main>
    </body>
</html>